body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    opacity: 0.8;
    background-image:  radial-gradient(#007bff 0.75px, transparent 0.75px), radial-gradient(#2d6a4f 0.75px, #ffffff 0.75px);
    background-size: 30px 30px;
    background-position: 0 0,15px 15px;
    margin: 0;
    padding: 0;
}

.contact-container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
}

.contact-container h1 {
    margin-bottom: 20px;
    font-size: 2em;
    color: #333;
}

.contact-container p {
    font-size: 1em;
    color: #666;
    line-height: 1.5;
}

.contact-info p {
    margin: 10px 0;
}

.contact-info a {
    color: #0066cc;
    text-decoration: none;
}

.contact-info a:hover {
    text-decoration: underline;
}
.back-button {
    position: fixed;
    left: 20px;
    top: 20px;
    background-color: #006aff; /* Button background color */
    color: #ffffff; /* Button text color */
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    transition: background-color 0.3s ease; /* Adding a smooth transition */
}

.back-button:hover {
    background-color: #0050a2; /* Darker shade on hover */
}
