body {
    font-family: 'Arial', sans-serif;
    background-color: #fff;
    opacity: 0.8;
    background-image:  radial-gradient(#007bff 0.75px, transparent 0.75px), radial-gradient(#2d6a4f 0.75px, #ffffff 0.75px);
    background-size: 30px 30px;
    background-position: 0 0,15px 15px;
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
    margin-top: 20px;
    font-size: 2.5em;
    color: #333;
}

p {
    text-align: center;
    font-size: 1.2em;
    margin-bottom: 20px;
}

.course {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    cursor: pointer;
}

.course h2 {
    margin: 0;
    font-size: 1.5em;
    color: #007BFF;
}

.course-description {
    display: none;
    margin-top: 10px;
}

.course-description.show {
    display: block;
}

.registration-form {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 30px auto;
}

.registration-form h2 {
    text-align: center;
    margin-bottom: 20px;
}

.registration-form label {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
}

.registration-form input,
.registration-form select,
.registration-form textarea,
.registration-form button {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.registration-form button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    cursor: pointer;
}

.registration-form button:hover {
    background-color: #0056b3;
}
.back-button {
    position: fixed;
    left: 20px;
    top: 20px;
    background-color: #006aff; /* Button background color */
    color: #ffffff; /* Button text color */
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    transition: background-color 0.3s ease; /* Adding a smooth transition */
}

.back-button:hover {
    background-color: #0050a2; /* Darker shade on hover */
}
